<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="22">
    <h1 class="mt-5 align-center">Delivered Orders</h1>
  </div>
</div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col *ngIf="deliveredOrders?.length" class="align-center">
    <nz-table
      #deliveredData
      [nzData]="deliveredOrders"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      nzSize="small"
    >
      <thead>
        <tr>
          <th></th>
          <th>Delivery No</th>
          <th>Customer</th>
          <th>Delivered Date</th>
          <th>Delivery Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let delivered of deliveredData.data; let i = index"
          (click)="onOrderClick(delivered.id)"
          class="clickable"
        >
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ delivered.order_no | addDToDeliveryNo }}
          </td>
          <td>
            {{ delivered.company_name }}
          </td>
          <td>
            {{ delivered.created_at | date: "mediumDate" }}
          </td>
          <td>
            {{ delivered.delivery_date | date: "mediumDate" }}
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- simple pagination with next & previous -->
    <nz-button-group class="block my-3">
      <button
        nz-button
        nzType="primary"
        (click)="onPaginatePrevious()"
        [disabled]="currentPaginationIndex === 1"
      >
        <i nz-icon type="left"></i>Previous
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="onPaginateNext()"
        [disabled]="
          currentPaginationIndex === lastPaginationIndex
        "
      >
        Next<i nz-icon type="right"></i>
      </button>
    </nz-button-group>
  </div>
</div>
