<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="22">
    <h1 class="mt-5 align-center">In Stock Products</h1>
  </div>
</div>

<div class="mx-5">
  <input class="my-3" placeholder="Search by delivery no or company name" nz-input
         (input)="onSearchInput($event.target?.value)"
  />
</div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col *ngIf="stocks?.length" class="align-center">

    <button class="my-3" nz-button [nzType]="'primary'" (click)="exportAsXLSX(stocksData)">Export to Excel <i nz-icon [type]="'file-excel'" [theme]="'fill'"></i></button>

    <nz-table #stocksData [nzData]="stocks" [nzFrontPagination]="false" [nzShowPagination]="false" nzSize="small">
      <thead>
      <tr>
        <th>Delivery No.</th>
        <th>Customer</th>
        <th>Product Name</th>
        <th>Length</th>
        <th>Width</th>
        <th>Thick</th>
        <th>Pcs</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stockItem of stocksData.data; let i = index">
        <td>
          {{ stockItem.order_no || "none" | addDToDeliveryNo }}
        </td>
        <td>
          {{ stockItem.company_name || "Without Order" }}
        </td>
        <td>
          {{ stockItem.name}}
        </td>
        <td>
          {{ stockItem.length }}
        </td>
        <td>
          {{ stockItem.width }}
        </td>
        <td>
          {{ stockItem.thick }}
        </td>
        <td>
          {{ stockItem.pcs }}
        </td>
        <td>

          <nz-select #deliveryNo style="width: 100px;" class="unprintable">
            <nz-option *ngFor="let deliveryNo of deliveryNos" [nzLabel]="deliveryNo.order_no"
                       [nzValue]="deliveryNo.id"></nz-option>
          </nz-select>

          <button nz-button [nzType]="'primary'" class="unprintable ml-3 my-3"
                  (click)="fetchCompanies(deliveryNo.value,stockItem)">
            <span>Transfer</span></button>
        </td>

      </tr>
      </tbody>
    </nz-table>

    <!-- simple pagination with next & previous -->
    <nz-button-group class="block my-3">
      <button nz-button nzType="primary" (click)="onPaginatePrevious()" [disabled]="currentPaginationIndex === 1">
        <i nz-icon type="left"></i>Previous
      </button>
      <button nz-button nzType="primary" (click)="onPaginateNext()"
              [disabled]="currentPaginationIndex === lastPaginationIndex">Next<i nz-icon type="right"></i>
      </button>
    </nz-button-group>
  </div>
</div>
