<div nz-row nzType="flex" nzJustify="center">
  <div nz-col nzSpan="22">
    <h1 class="mt-5 align-center">Deliveries</h1>
  </div>
</div>

<div class="mx-5">
  <input class="my-3" placeholder="Search by delivery no or company name" nz-input
         (input)="onSearchInput($event.target?.value)"
  />
</div>

<div nz-row nzType="flex" nzJustify="center">
  <div nz-col *ngIf="deliveries?.length" class="align-center">
    <nz-table
        #deliveriesData
        [nzData]="deliveries"
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        nzSize="small"
    >
      <thead>
      <tr>
        <th></th>
        <th>Delivery No</th>
        <th>Customer</th>
        <th>Issued Date</th>
        <th>fsno</th>
        <th>Delivery Date</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let delivery of deliveriesData.data; let i = index"
        (click)="onOrderClick(delivery.id)"
        class="clickable"
      >
        <td>
          {{ i + 1 }}
        </td>
        <td>
          {{ delivery.order_no | addDToDeliveryNo }}
        </td>
        <td>
          {{ delivery.company_name }}
        </td>
        <td>
          {{ delivery.created_at | date: "mediumDate" }}
        </td>
        <td>
          {{ delivery.fsno }}
        </td>
        <td>
          {{ delivery.delivery_date | date: "mediumDate" }}
        </td>
        <td>
          {{ delivery.note | slice: 0:150 }}
        </td>
      </tr>
      </tbody>
    </nz-table>
    <!-- simple pagination with next & previous -->
    <nz-button-group class="block my-3">
      <button
        nz-button
        nzType="primary"
        (click)="onPaginatePrevious()"
        [disabled]="currentPaginationIndex === 1"
      >
        <i nz-icon type="left"></i>Previous
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="onPaginateNext()"
        [disabled]="
          currentPaginationIndex === lastPaginationIndex
        "
      >
        Next<i nz-icon type="right"></i>
      </button>
    </nz-button-group>
  </div>
</div>
